<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title>Order List</title>
	<style>
		.table-dark {
			--bs-table-bg: #008000;
			--bs-table-border-color: #008000;
		}

		.btn-primary {
			--bs-btn-bg: #008000;
			--bs-btn-border-color: #008000;

		}
	</style>
</head>

<body>

	<div class="container" layout:fragment="content">
		<center>
			<h3 class="mt-5 mb-4" style="color:#008000;">Order List</h3>
		</center>


		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr style="text-align: center;">
					<th>Order No.</th>
					<th>Title</th>
					<th>Price</th>
					<th>Purchased Date</th>
					<th>Customer Name</th>
				</tr>
			</thead>

			<tbody >
				<tr th:each="tempOrder : ${order}" style="text-align: center;">
					<td th:text="${tempOrder.orderId}" />
					<td>
						<a th:href="@{/viewBook(bookId=${tempOrder.bookId})}" th:text="${tempOrder.title}"></a>
					</td>
					<td th:text="'$'+${tempOrder.price}" />
					<td th:text="${tempOrder.purchasedDate}" />
					<td th:text="${tempOrder.customerName}" />
				</tr>

			</tbody>
		</table>

		
		<div style="text-align: right;" class="mt-5">
			<a th:href="@{/}">Back to Home</a>
		</div>


	</div>
</body>

</html>